/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 21, 2017, 6:34:21 PM
    Author     : 00140246
*/

#cabecera{
    font-family: Arial;
    font-size: 30px;
    text-align: center;
    color: blueviolet;
}
#menu ul li{
    font-family: broadway;
    list-style-type: none;
    display: inline;
    font-size: 20px;
    background: graytext;
    padding: 10px;
    border-radius: 10px;
}
a:hover{
    color: #FF0000;    
}
#formulario{ /* Definitivamente esto no quiso funcionarme */
    align-self: center; 
    border-width: 2px;
    margin: 1em;
    padding: 2px;
    height: 100px;
    width: 800px;    
}
#cuerpo img{
    align-items: center;
    width: 600px;
    height: 400px;
}
#cuerpo p{
    font-family: Monotype Corsiva;
    font-size: 24px;
    text-align: center;
}

#pie{
    background: greenyellow;
    text-align: center;
}
#pie img{
    width: 30px;
}